{% if env == 'dev' %}
    {% set payuEndpoint = 'https://secure.snd.payu.com/front/widget/js/payu-bootstrap.js' %}
{% else %}
    {% set payuEndpoint = 'https://secure.payu.com/front/widget/js/payu-bootstrap.js' %}
{% endif %}
<button id="pay-button">Pay now</button>
<script
        src="{{ payuEndpoint }}"
        pay-button="#pay-button"
        merchant-pos-id="{{ params['merchant-pos-id'] }}"
        shop-name="{{ params['shop-name'] }}"
        total-amount="{{ params['total-amount'] }}"
        currency-code="{{ params['currency-code'] }}"
        customer-language="{{ params['customer-language'] }}"
        store-card="{{ params['store-card'] }}"
        success-callback="radnok_payu_success_payment"
        recurring-payment="true"
        customer-email="{{ params['customer-email'] }}"
        sig="{{ sig }}">
</script>

<script type="text/javascript">
    function radnok_payu_success_payment($data) {
        console.log("callback");
        console.log($data);

        $('[name="token"]').val($data.value);
        $('[name="token_type"]').val($data.tokenType);
    }
</script>